---
layout: page
permalink: /experience/
title: Experience
tags: [experience, projects, resume]
search_omit: true
---

<h2>Background</h2>

<ul>
<li>Principal at <a target="_window" href="http://pointnineseven.com">Dots.Connect</a>, providing full service app development. Creating value for clients around the world since 2014.</li>
<li>Co-founder <a target="_window" href="http://wiki.osgeo.org/wiki/PDX-OSGEO">Portland Open Source GIS user group</a></li>
<li>Former founding team member at <a target="_window" href="http://pointnineseven.com">Point 97</a>, an Ecotrust company. Transitioned from lead dev and PM to focus on product development, client onboarding, strategic partnerships, and business development</li>
<li>Former lead developer and project manager at <a target="_window" href="http://www.ecotrust.org">Ecotrust</a>, an entreprenurial non-profit, building web apps for desktop and mobile.  Managed 5+ developers and creative consultants on projects up to $400K</li>
<li>Former product manager for <a target="_window" href="http://madrona.ecotrust.org/" title="Madrona">Madrona</a> collaborative decision-making framework</li>
<li>Former web developer at a state agency leading their map and data publishing effort</li>
<li>Former web developer at an academic research lab producing cutting-edge mapping apps for partners</li>
<li>Former volunteer and educator with the <a target="_window" href="http://mazamas.org">Mazamas</a>, one of the oldest mountaineering clubs in North America</li>
</ul>

<h2>Hard Skills</h2>
<p>Primary focus on user experience/user interface design and frontend web development. Full-stack capable.  Some core skills include:</p>

<h3>UX/Frontend</h3>
<ul>
<li><em>UI design</em>: Sketch, Balsamiq, Inkscape, Gimp
<li><em>Languages:</em> Javascript ES5/ES6, Coffeescript</li>
<li><em>Libraries:</em> React, Angular, Knockout, SASS, JQuery, Lodash, etc.</li>
<li><em>Build tools:</em> Webpack, Babel, Gulp, Grunt, Bower, Vagrant, Ionic, etc.  
</ul>

<h3>Mapping/Dataviz</h3>
<ul>
<li><em>Desktop GIS:</em> QGIS, ArcGIS, GRASS, OGR/GDAL</li>
<li><em>Map servers:</em> Geoserver, Mapserver, ArcGIS Server, QGIS
<li><em>Web map clients:</em> Leaflet, OpenLayers 3, Mapbox.js</li>
<li><em>Spatial Data Infrastructure:</em> ArcGIS Online, Mapbox, GeoNode
<li><em>Data visualization:</em> Highcharts, Mapbox Studio, D3.js</li>
</ul>

<h3>Backend</h3>
<ul>
<li><em>Language:</em> Python with some Ruby, PHP, and others.</li>
<li><em>Frameworks:</em> primarily Django, some Rails.  Also Node.JS including Express and Socket.io
<li><em>Databases:</em> primarily relational including PostgreSQL, SQLite, and MySQL.  Dabbling with 
<li><em>Devops:</em> AWS, DigitalOcean, Rackspace, Vagrant, and other services and frameworks.</li>
</ul>

<h2>Soft Skills</h2>
<p>Integrating technology can be complicated.  The same can be said for people!  It's what keeps things interesting.  I often play that bridge or glue role, translating between people and creating the right connections, getting teams to gel quickly and find value.  Specific skills include:</p>

<ul>
<li>Research and Development</li>
<li>Proposal and grant writing</li>
<li>Usability testing</li>
<li>Project management</li>
<li>Team development and leadership</li>
<li>Facilitation and conflict resolution</li>
<li>Presentation and training</li>
</ul>

<h2>Recent Projects</h2>

<p>JournalMap Phase 2 - Scale -- In 2015, The Other Firm and the U.S. Department of Agriculture tapped me to lead a revamp of the JournalMap scholarly search engine.  We scaled the technology up to support millions of records using Elastic Search and implemented a modern user experience. Utilized Rails, Coffeescript, Knockout, and SASS.</p>

<p><a title="Hapi Fis Phase 2" target="_window" href="http://voices.nationalgeographic.com/articles/hapi-fis-2">Hapi Fis Phase 2 - Amplify</a> -- In 2015, Point 97 and the Solomon Island Ministry of Fisheries brought me in as a Technical Advisor to help launch phase 2.  In this multi-faceted role I worked remotely and in-country with project coordinators, marine biologists, fisheries officers, surveyors, and IT specialists to scope, design, implement, and train on improvements to the market surveys and platform.</p>

<p><a title="CNFO Engagement Platfrom" target="_window" href="http://dotsconnect.us/articles/cnfo-collaboration/">Engagement Platform for Caribbean Fisherfolk Network</a> -- in Feb. 2015 the ICT Research Programme at the University of the West Indies reached out to me to assess the community engagement platform they had just released into beta.  They needed fresh insight into usability issues they had discovered and a strategy for architecting some sophisticated new features on top of their CMS platform.</p>

<p><a title="WCODP Phase 3" target="_window" href="http://portal.westcoastoceans.org">West Coast Ocean Data Portal Phase 3 - Connections</a> -- from 2014-2015, partnering with Sound GIS and the West Coast Governor's Alliance to scale up the West Coast Ocean Data Portal and connect a variety of new datasets and systems from agencies, universities, and ocean observation groups around the region.</p>

<p><a title="Coral Reef Monitoring in the Caribbean" target="_window" href="/articles/caribnode/">Coral Reef Assessment in the Caribbean</a> -- in 2014, worked with The Nature Conservancy and project partners in 6 Eastern Caribbean countries to develop a web platform for monitoring the status of coral reefs and the communities that rely on them using a suite of biophysical, socioeconomic, and management effectiveness indicators.  In my role I provided a full suite of services including assessment, UX design, implementation, rollout, and training of both users and administrators.</p>

<p><a title="Lobby Dashboard and Interactive Tablet Wall" target="_window" href="/articles/data-wall/">Lobby Dashboard and Interactive Tablet Wall</a> -- in 2014, Flixio brought me in to work with their designers and technologists to implement a digital content strategy for their client Keynote including a 4 screen HDTV wall displaying maps, data visualizations, and content as well as an interactive wall of touch tablets.</p>

<h2>Notable Past Projects</h2>

<p><a title="WCODP Phase 2" target="_window" href="http://pointnineseven.com/projects/full_story/evaluating_cost_effective_alternatives_to_vessel_monitoring_systems">West Coast Ocean Portal Phase 2 - Marine debris</a> -- from 2013-2014, worked with the West Coast Governor's Alliance to integrate the West Coast Marine Debris database into the West Coast Ocean Data Portal.  This included partnering with University College Cork in Ireland to bring together West Coast marine debris response partners and use a novel ontology-based approach to unifying the many different debris data cards used by cleanup organizations.</p>

<p><a title="VMS Alternative" target="_window" href="http://pointnineseven.com/projects/full_story/evaluating_cost_effective_alternatives_to_vessel_monitoring_systems">Low-cost Vessel Monitoring Systems</a> -- during 2013, partnered with the Alaska Longline Fishermans Association, a community-based fishery out of Sitka to test low-cost alternatives to Vessel Monitoring System solutions that currently exist in the market.  included research, installation, and field testing on multiple boats.</p>

<p><a title="Hapi Fis" target="_window" href="http://pointnineseven.com/projects/full_story/hapi_fis_hapi_pipol">Hapi Fis Hapi Pipol Phase 1</a> -- from 2012-2013, worked with the Solomon Islands government and the Coral triangle initiative as the product lead, UX developer, and field trainer for the award-winning Happy Fish mobile data collection platform</p>

<p><a title="MARCO Portal" href="http://pointnineseven.com/projects/full_story/supporting_regional_ocean_planning_in_the_mid-atlantic">Mid-Atlantic Ocean Data Portal</a> -- from 2012-2013, worked with the Mid-Atlantic Regional Council on the Ocean, The Nature Conservancy, and Rutgers University leading a cross-discipline team through the development of the MARCO Data Portal.</p>

<p><a title="GSAA Portal" target="_window" href="http://pointnineseven.com/projects/view/governor_south_atlantic_alliance_coast_and_ocean_data_portal">Governor’s South Atlantic Alliance Coast and Ocean Data Portal</a> -- in 2012, worked with the Governor's South Atlantic Alliance and project partners including SECOORA, the University of South Carolina, and The Nature Conservancy leading a cross-discipline team through the design and implementation of the GSAA Coast and Ocean Data Portal.</p>

<p><a title="Digital Deck Oregon" target="_window" href="http://pointnineseven.com/projects/full_story/digital_deck_oregon_dungeness_crab">Digital Deck Oregon Dungeness Crab</a> -- in 2012, worked with the Oregon Department of Fish and Wildlife and Oregon Crab Fisherman performing proposal writing, user research, and field testing resulting in a prototype iPad-based Digital Deck electronic logbook solution using Phonegap.</p>

<p><a title="WCODP" target="_window" href="http://pointnineseven.com/projects/full_story/west_coast_governor_alliance_on_ocean_health_data_portal">West Coast Ocean Data Portal Phase 1</a> -- from 2012-2013, worked with the West Coast Governor's Alliance and ESRI leading the assessment, design, and implementation of the award-winning West Coast Ocean Data Portal using ESRI Geoportal, SOLR, and Angular.</p>

<p><a title="Northeast survey" target="_window" href="http://pointnineseven.com/projects/full_story/mapping_recreational_boating_patterns_in_the_northeast">Northeast Recreational Boater Survey</a> -- from 2011-2012, worked with SeaPlan, the Northeast Regional Ocean Council, state agencies, and industry and academic partners leading the design and implementation of a large scale online boater survey that engaged boaters in using online maps to identify where they recreate most.</p>          

<p><a title="Oregon MarineMap" target="_window" href="http://pointnineseven.com/projects/full_story/providing_planning_tools_and_fishing_community_engage_to_facilitate_oregon_territorial_sean_plan_process">MarineMap - Oregon Territorial Sea Plan</a> -- from 2010-2012, worked with the Oregon Department of Land and Conservation Development leading the development of an online planning tool facilitating stakeholder participation in evaluating wave energy proposals utilizing biophysical, socioeconomic, and economic data.</p>

<p><a title="Salmon Recovery Monitoring in Oregon" target="_window" href="http://odfwrecoverytracker.org/explorer/species/Coho/run/default/esu/129/145/">Salmon Recovery Monitoring in Oregon</a> -- from 2008-2011, worked with Oregon Department of Fish and Wildlife to lead the design and development of a web application allowing the public to view the ongoing status of salmon recovery at different geographic scales based on a suite of indicators developed for The Oregon Plan.</p>

<p><a title="California MarineMap" target="_window" href="http://coast.noaa.gov/digitalcoast/tools/marinemap">MarineMap - California Marine Life Protection Initiative</a> -- from 2007-2009, worked with California state agencies and stakeholders to develop a first-of-its-kind online planning tool facilitating stakeholder participation in proposing and evaluating marine protected areas using best available biophysical and socioeconomic data.</p>

<p><a title="MPA Selection and Monitoring in Mexico" target="_window" href="http://eurekamarine.org/">MPA Selection and Monitoring in Mexico</a> -- from 2006-2010, worked with Comunidad y Biodiversidad in the Sea of Cortez leading the development of multiple multi-lingual tools including Delphos - a multicriteria analysis tool for comparison and selection of MPA sites, Eureka - a decision support tool for quickly inputting and analyzing dive surveys measuring MPA performance, and Open OceanMap Loreto for surveying fisherman, recreationalists, and scientists to identify activity areas near Loreto.  Roles included tool design, development, and training.</p>

<h2>Writing and Publications</h2>
<ul>
<li>2015 Contributed Chapter - <a href="http://www.esri.com/esri-news/releases/15-3qtr/ocean-solutions-earth-solutions" title="Ocean Solutions, Earth Solutions">Ocean Solutions, Earth Solutions</a></li>
<li>2014 White Paper - <a href="https://drive.google.com/file/d/0Bygoj3XHCCwBUW5MVUhoNGhYWHM/view?usp=sharing" title="Delivering Cost Efficiencies for Large Scale Field Survey Programs">Delivering Cost Efficiencies for Large Scale Field Survey Programs</a></li>
<li>2013 NatGeo Blog Article - <a href="http://voices.nationalgeographic.com/2013/11/12/mobile-apps-a-path-back-to-traditional-fishing-knowledge/" title="Mobile Apps: A Path Back to Traditional Fishing Knowledge">Mobile Apps: A Path Back to Traditional Fishing Knowledge</a></li>
</ul>

<h2>Awards and Achievements</h2>
<ul>
<li>2014 <a href="http://www.ecotrust.org/press-releases/point-97-wins-esri-design-award/" title="ESRI Special Achievment in GIS Award">ESRI Special Achievment in GIS Award</a> for the West Coast Ocean Data Portal</li>
<li>2012 <a href="http://madrona.ecotrust.org/news/madrona-honored-as-top-10-katerva-award-nominee/" title"Katerva nominee">Katerva Award Nominee</a> in Ecosystem Conservation for Madrona</li>
<li>2011 <a href="http://thetechawards.thetech.org/the-laureates/stories/1644" title="Intel Environment Aware for MarineMap">Intel Environment Award</a> for MarineMap</li>
<li>2010 Innovation in Technology and Environmental Conflict Resolution for MarineMap</li>
<li>2008 Mellon Award for Open OceanMap</li>
</ul>

<h2>Recent Projects (by tag)</h2>

<ul class="tag-box inline">
{% assign tags_list = site.tags %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
        <li><a href="#{{ tag }}">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
        <li><a href="#{{ tag[0] }}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>

{% for tag in site.tags %} 
    <h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
    <ul class="post-list">
        {% assign pages_list = tag[1] %}  
        {% for post in pages_list %}
            {% if post.title != null %}
            {% if group == null or group == post.group %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>
{% endfor %}