---
layout: page
title: 
excerpt: "Crafting technology solutions and creating value for clients around the world"
search_omit: true
---

<footer class="entry-meta">
  <img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo">
</footer>

<p>
Hi I'm Tim Welch. I work at the intersection of people and place.  Maps, apps, data, are all pieces of the puzzle. Do you need help on a project or product? Looking for ideas, collaborators?  Let's <a href="mailto:&#116;&#105;&#109;&#046;&#106;&#046;&#119;&#101;&#108;&#099;&#104;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" title="{{ site.owner.name}} by email" target="_blank">chat</a>!</p>

<br/>
<br/>

<div data-behold-id="SdGVMZrd8Me0LuDTBH3y"></div>
<script>
  (() => {
    const d=document,s=d.createElement("script");s.type="module";
    s.src="https://w.behold.so/widget.js";d.head.append(s);
  })();
</script>

<br/>
<br/>

<p style="text-align: center">Learn more about my <a href="/experience" title="Experience">experience</a> and the <a href="/services" title="Services">services</a> that I offer.</p>
<div class="social-icons" style="display: flex; justify-content: center">
	{% if site.owner.twitter %}<a href="https://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>{% endif %}
	{% if site.owner.facebook %}<a href="https://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>{% endif %}
	{% if site.owner.google.plus %}<a href="https://plus.google.com/+{{ site.owner.google.plus }}" title="{{ site.owner.name}} on Google+" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>{% endif %}
	{% if site.owner.linkedin %}<a href="https://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>{% endif %}
	{% if site.owner.stackexchange %}<a href="{{ site.owner.stackexchange }}" title="{{ site.owner.name}} on StackExchange" target="_blank"><i class="fa fa-stack-exchange fa-2x"></i></a>{% endif %}
	{% if site.owner.instagram %}<a href="https://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>{% endif %}
	{% if site.owner.flickr %}<a href="https://www.flickr.com/photos/{{ site.owner.flickr }}" title="{{ site.owner.name}} on Flickr" target="_blank"><i class="fa fa-flickr fa-2x"></i></a>{% endif %}
	{% if site.owner.github %}<a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
	{% if site.owner.tumblr %}<a href="http://{{ site.owner.tumblr }}.tumblr.com" title="{{ site.owner.name}} on Tumblr" target="_blank"><i class="fa fa-tumblr-square fa-2x"></i></a>{% endif %}
  {% if site.owner.pinterest %}<a href="https://www.pinterest.com/{{ site.owner.pinterest }}/" title="{{ site.owner.name}} on Pinterest" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>{% endif %}
	{% if site.owner.weibo %}<a href="https://www.weibo.com/u/{{ site.owner.weibo }}/" title="{{ site.owner.name}} on Weibo" target="_blank"><i class="fa fa-weibo fa-2x"></i></a>{% endif %}
  <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss-square fa-2x"></i></a>
</div><!-- /.social-icons -->

<br/>

<h2>Some of the puzzle pieces I've crafted...</h2>
<ul>
    <li><a href="https://seasketch.github.io/heatmap/index.html">Quantify</a> the importance of an area to its people</li>
    <li>Make planning more <a href="https://www.researchgate.net/publication/339665680_Incorporating_the_participatory_process_in_the_design_of_geospatial_support_tools_Lessons_learned_from_SeaSketch">equitable</a> and <a href="https://github.com/seasketch/geoprocessing">transparent</a></li>
    <li><a href='http://www.verizonenterprise.com/products/internet-of-things/smart-cities/' target='_blank'>Run</a> in smart lighting devices in cities around the world</li>
    <li><a href='/articles/workzonewtf/' target='_blank'>Crowdsourced</a> policy change for bike and pedestrian safety</li>
    <li>Power store locators for multi-national companies with millions of customers</li>
    <li><a href='/articles/caribnode/' target='_blank'>Assess</a> the performance of coral reefs across 9 Eastern Caribbean countries</li>
    <li><a href='https://journalmap.org/' target='_blank'>Scale</a> up global geographic search of scholarly articles</li>
    <li><a href='/articles/visualizing-landslide-2-tilemill2/' target='_blank'>Expose</a> the land moving underneath our feet
    <li><a href='http://madrona.ecotrust.org' target='_blank'>Support</a> stakeholders in place-based decision making anywhere in the world</li>
    <li><a href='https://github.com/twelch/kit-client-react' target='_blank'>Combine</a> language translation and mapping for creating location-based apps with global reach</a> </li>
</ul>
<br/><br/>

<br/><br/>
<h1 class="entry-title home">Latest Posts</h1>

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a class='title' href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
{% endfor %}
</ul>
<br/>
<a href="/articles" title="Articles">View all posts</a>
