---
layout: page
title: Dots.Connect
excerpt: "Crafting technology solutions and creating value for clients around the world"
search_omit: true
---

<footer class="entry-meta">
  <img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo">
  <span>{% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></i> &nbsp;&nbsp;&nbsp;@tdoubleuu</a>{% endif %}</span>
  <span>{% if site.owner.linkedin %}<a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i> &nbsp;&nbsp;&nbsp;tim.j.welch</a>{% endif %}</span>
  <span>{% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="fa fa-2x fa-github-square"></i> &nbsp;&nbsp;&nbsp;{{ site.owner.github }}</a>{% endif %}</span>
  <span><a href="mailto:&#116;&#105;&#109;&#046;&#106;&#046;&#119;&#101;&#108;&#099;&#104;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" title="{{ site.owner.name}} by email" target="_blank"><i class="fa fa-2x fa-envelope-square"></i> &nbsp;&nbsp;&#116;&#105;&#109;&#046;&#106;&#046;&#119;&#101;&#108;&#099;&#104;</a></span>
  <span><a href="skype:tim.j.welch?chat&topic=Hello" title="{{site.owner.skype}}"><i class="fa fa-2x fa-skype"></i> &nbsp;&nbsp;&nbsp;{{ site.owner.skype }}</a></span>
</footer>

<p>
Hi I'm Tim Welch. I work at the intersection of people and place.  Maps, apps, data, are all pieces of the puzzle. Do you need help on a project or product? Looking for ideas, collaborators?  Let's talk!</p>

<p>Learn more about my <a href="/experience" title="Experience">experience</a> and the <a href="/services" title="Services">services</a> that I offer.</p>

<div class="entry-partners">
    <div><img src='/images/mapbox-logo-color.png' /></div>
    <div>I'm a member of the <a href='https://www.mapbox.com/developer-network/'>Mapbox Developer Network</a>, plugging you into the evolving Mapbox landscape and advocating on your behalf to solve problems and deliver value quickly.</div>
</div>
<h2>Some of the puzzle pieces I've helped craft...</h2>
<ul>
    <li><a href="https://seasketch.github.io/heatmap/index.html">Quantify</a> the importance of an area to its people</li>
    <li>Make planning more <a href="https://www.researchgate.net/publication/339665680_Incorporating_the_participatory_process_in_the_design_of_geospatial_support_tools_Lessons_learned_from_SeaSketch">equitable</a> and <a href="https://github.com/seasketch/geoprocessing">transparent</a></li>
    <li><a href='http://www.verizonenterprise.com/products/internet-of-things/smart-cities/' target='_blank'>Run</a> in smart lighting devices in cities around the world</li>
    <li><a href='/articles/workzonewtf/' target='_blank'>Crowdsourced</a> policy change for bike and pedestrian safety</li>
    <li>Power store locators for multi-national companies with millions of customers</li>
    <li><a href='/articles/caribnode/' target='_blank'>Assess</a> the performance of coral reefs across 9 Eastern Caribbean countries</li>
    <li><a href='https://journalmap.org/' target='_blank'>Scale</a> up global geographic search of scholarly articles</li>
    <li><a href='/articles/visualizing-landslide-2-tilemill2/' target='_blank'>Expose</a> the land moving underneath our feet
    <li><a href='http://madrona.ecotrust.org' target='_blank'>Support</a> stakeholders in place-based decision making anywhere in the world</li>
    <li><a href='https://github.com/twelch/kit-client-react' target='_blank'>Combine</a> language translation and mapping for creating location-based apps with global reach</a> </li>
</ul>
<br/><br/>

<div data-behold-id="SdGVMZrd8Me0LuDTBH3y"></div>
<script>
  (() => {
    const d=document,s=d.createElement("script");s.type="module";
    s.src="https://w.behold.so/widget.js";d.head.append(s);
  })();
</script>

<br/><br/>
<h1 class="entry-title home">Latest Posts</h1>

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a class='title' href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
{% endfor %}
</ul>
<br/>
<a href="/articles" title="Articles">View all posts</a>
