<script type="text/javascript">
  var BASE_URL = '{{ site.url }}';
</script>

<!-- Webfonts -->
<script src="https://use.edgefonts.net/source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9;source-code-pro:n4,n7;volkhov.js"></script>

<!-- Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 'https://www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type='application/ld+json'> 
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "Dots.Connect",
    "url": "https://dotsconnect.us",
    "sameAs": [
      "https://business.google.com/b/100049452849482936541",
      "https://twitter.com/dotsconnectus"
    ],
    "logo": "https://dotsconnect.us/images/dc-logo-color.png",
    "description": "Crafting technology solutions and creating value for clients around the world",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "3527 NE 81st ave.",
      "postOfficeBoxNumber": "97213",
      "addressLocality": "Portland",
      "addressRegion": "Oregon",
      "postalCode": "97213",
      "addressCountry": "United States"
    },
    "founder": "Tim Welch",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1 (971) 227-2357",
      "contactType": "Inquiries"
    }
  }
</script>

{% endif %}
